<!DOCTYPE html>
<html lang="en">
<head>
<title>Metadata Transformation</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="styles/main.css" />
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/mdxform"><strong>Metadata Transformation</strong></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-header">
        <ul class="nav navbar-nav">
          <li><a href="/mdxform">Home</a></li>
          <li><a href="/mdxform/status">Status</a></li>
          <li><a href="/mdxform/logs">Logs</a></li>
          <li><a href="http://github.com/uclalibrary/mdxform" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" id="main-container"></div>
  <div class="footer">
    <div class="container">
      <div class="text-muted">When something breaks (and you know it will), who ya gonna call?</div>
      <div class="text-muted">
        <a href="mailto:ksclarke@library.ucla.edu">Kevin S. Clarke</a> ( <a href="mailto:ksclarke@library.ucla.edu">ksclarke@library.ucla.edu</a>
        )
      </div>
    </div>
  </div>
</body>
</html>